.menutips {
    list-style-type: none; 
    
 }
 .menutips li {
     display: inline-block;
     font-size: 20px;
     padding: 20px;
     position: relative;
     
 }
 .submenutips {
     position: absolute;
     display: none;
     background-color: black;
     
 }
 .submenutips li {
     display: block;
 }
 .menutips li:hover .submenutips {
     display: block;
 }
 .conteinertips {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-evenly;
 }
 .footerback {
     width: 100%;
     height: 200px;
     background-color: black;
 }
 